Restaurant - home

<script src="lib/angular-translate/angular-translate.min.js"></script>

<script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<ion-header>
  <ion-navbar color="primary"  hideBackButton="true">
    <button  ion-button class="nav-button" (click)="selectLocation()">
      {{ currentLocation }}
      <ion-icon name="ios-arrow-down" class="text-md"></ion-icon>
    </button>
    <ion-buttons end>
      <button  ion-button (click)="goToBookmarks()">
        <ion-icon name="bookmark"></ion-icon>
      </button>
      <button  ion-button (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class=" common-bg">

   <!-- Nearby button -->
    <ion-item padding color="light"  class="no-border" (click)="goToNearBy()">
      <ion-icon name="pin"></ion-icon>
      在我附近的外卖
      <ion-icon name="arrow-forward" color="secondary"  class="pull-right"></ion-icon>
    </ion-item>

  <!-- Slider -->
  <ion-slides pager class="pager-inner">

    <ion-slide *ngFor="let slide of slides">
      <img src="{{ slide.src }}" alt="">
    </ion-slide>

  </ion-slides>

  <div padding>


    <!-- Categories -->

    <ion-grid class="grid-no-padding">

      <ion-row>

        <ion-col>
          <ion-item class="no-border" (click)="viewPlaces()">
            小吃外卖
          <img src="assets/icon/美食.png" alt=""></ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="no-border" (click)="viewPlaces()">
            点心
          <img src="assets/icon/点心.png" alt=""></ion-item>
        </ion-col>


        <ion-col>
          <ion-item class="no-border" (click)="viewPlaces()">特价
          <img src="assets/icon/特价.jpeg" alt=""></ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="no-border" (click)="viewPlaces()">我想成为商家</ion-item>
          <ion-item class="no-border" (click)="viewPlaces()">我送货，赚小钱</ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <!-- All places -->
    <ion-item class="margin-top no-border light-bg" (click)="goToNearBy()">
      <ion-icon name="pin"></ion-icon>
      所有餐馆在 {{ currentLocation }}
      <ion-icon name="arrow-forward" color="secondary"  class="pull-right"></ion-icon>
    </ion-item>

  </div>

  <!-- Popular -->
  <div text-center class="secondary margin-top margin-bottom">
    排行榜
  </div>

  <div class="light-bg card" margin-bottom>
    <ion-grid>
      <ion-row wrap>
        <ion-col class="rlt" width-33 *ngFor="let place of popularPlaces" (click)="viewPlace(place.id)">
          <img class="round" src="{{ place.photos[0].thumb }}" alt="">
          <div class="item-rating">{{ place.rating }}</div>
          <div class="text-md strong">{{ place.name }}</div>
          <div class="text-sm secondary">{{ place.city }}</div>
          <div class="text-sm secondary">{{ place.cuisines }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="block-footer" padding text-right (click)="viewPlaces()">
      <span color="primary" >更多 ></span>
    </div>
  </div>
</ion-content>
